<html>
	<head>
		<title>Welcome to NP Finder</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Anton|Slabo+27px" rel="stylesheet">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
		<link rel="stylesheet" type="text/css" href="../css/index.css">
<!-- Latest compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
	</head>
	<body>
		<% include ../views/layout %>
		<div id = 'index_bng'>
			<h1>Welcome to National Park Finder!</h1>
			<div id = 'search'>
				<div class='container' style="position: relative;width:initial;">
					<h2 style="font-family: 'Slabo 27px', serif;color:white">Find park by</h2>
					<form action="/search_index" method="get">
						<div id = "select">
							<select name="state" class="form-control" style="left:10%;position: relative;float:left">
								<option selected="selected" value="">--By State</option>
								<% for(var i = 0;i<states.length;i++){%>
									<option value=<%= encodeURI(states[i])%>><%= states[i]%></option>
								<% } %>
							</select>
							<select name="activity" class="form-control" style="left:27%;position: relative;float:left;">
								<option selected="selected" value="">--By activity--</option>
								<% for(var i = 0;i<activities.length;i++){%>
									<option value=<%= encodeURI(activities[i].activity_name)%>><%= activities[i].activity_name%></option>
								<% } %>
							</select>
	                        <select name="user_activity" class="form-control" style="left:44%;position: relative;float:left;">
								<option selected="selected" value="">--By User activity--</option>
								<% for(var i = 0;i<my_activities.length;i++){%>
									<option value=<%= encodeURI(my_activities[i])%>><%= my_activities[i]%></option>
								<% } %>
							</select>
						</div>
						<input class="btn btn-info" style="width:200px;top:130px;left:40%;position: absolute" type="submit" value="Search">
					</form>
				</div>
			</div>
		</div>
	</body>
</html>