<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
		<title><%= key_words%></title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<!-- font -->
		<link href="https://fonts.googleapis.com/css?family=Anton|Slabo+27px" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Palanquin+Dark" rel="stylesheet">
		<link href="http://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
		<link rel="stylesheet" type="text/css" href="../css/park.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
		<script src="../js/jquery-3.1.1.min.js"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script>
			$( function() {
				$( "#datepicker" ).datepicker();
			} );
		</script>
	</head>
	<body>
		<% include ../views/layout %>
		<script type="text/javascript">
			var session = <%- JSON.stringify(session)%>;
			if(session=="true"){
				document.getElementById('signin_div').style.display='none';
				document.getElementById('logout_div').style.display='inline';
			}
			else{
				document.getElementById('signin_div').style.display='inline';
				document.getElementById('logout_div').style.display='none';	
			}
		</script>
		<div id="bg" style="background: url(<%= bgImg[0]%>) no-repeat center center;
				background-size: cover;">
		<h1><%= key_words%></h1>
		<script type="text/javascript">
			var index = 0;
			prevImg();
			function prevImg(){
				if(index==0){
					index=2;
					document.getElementById('bg').style.background = "url('"+<%- JSON.stringify(bgImg[2])%>+"') no-repeat center center";
					document.getElementById('bg').style.backgroundSize = "cover";
				}
				else if(index==1){
					index--;
					document.getElementById('bg').style.background = "url('"+<%- JSON.stringify(bgImg[0])%>+"') no-repeat center center";
					document.getElementById('bg').style.backgroundSize = "cover";	
				}
				else{
					index--;
					document.getElementById('bg').style.background = "url('"+<%- JSON.stringify(bgImg[1])%>+"') no-repeat center center";
					document.getElementById('bg').style.backgroundSize = "cover";	
				}
				setTimeout(prevImg, 6000);
			}
			function nextImg(){
				if(index==0){
					index++;
					document.getElementById('bg').style.background = "url('"+<%- JSON.stringify(bgImg[1])%>+"') no-repeat center center";
					document.getElementById('bg').style.backgroundSize = "cover";
				}
				else if(index==1){
					index++;
					document.getElementById('bg').style.background = "url('"+<%- JSON.stringify(bgImg[2])%>+"') no-repeat center center";
					document.getElementById('bg').style.backgroundSize = "cover";	
				}
				else{
					index=0;
					document.getElementById('bg').style.background = "url('"+<%- JSON.stringify(bgImg[0])%>+"') no-repeat center center";
					document.getElementById('bg').style.backgroundSize = "cover";
				}
			}
			function _1_over(){
				document.getElementById('desc').style.display = "inline-block";
				document.getElementById('dire_info').style.display = "none";
			}
			function _2_over(){
				document.getElementById('desc').style.display = "none";
				document.getElementById('dire_info').style.display = "inline-block";
			}
			function fav_submit(){
				document.getElementById('fav_form').action=window.location.href;
			}
			function rating_submit(){
				document.getElementById('rating_dialog').style.display="block";
			}
			function dialog_cancel(){
				document.getElementById('rating_dialog').style.display='none';
			}
			function validateForm(){
				var days = document.forms['rating_form']['days'].value;
				var date = document.forms['rating_form']['date'].value;
				if(date.length!=10||!((date.substring(0,2)).isInteger())||!((date.substring(3,5)).isInteger())||!((date.substring(7)).isInteger())||date[2]!='/'||date[5]!='/'){
					alert("Please type valide date!!");
					return false;
				}
				else if(days.length==0||!days.isInteger()||days<1){
					alert("Please type valide date!!");
					return false;
				}
				else{
					return true;
				}
			}
			</script>
		<button id="left" style="float: left;" onclick="prevImg()" class="page">&#10094;</button>
		<button id="right" style="float: right;" onclick="nextImg()" class="page">&#10095;</button>
		<% if(session=="true"){%>
			<div id="rating_btn">
				<% if(rated=="false"){%>				
				<button id="rating_unchecked" class="fav_btn" onclick="rating_submit()">
					<img src="../img/foot_print.png" style="width:32px;height: 32px">
					<p>+Been</p>
				</button>
				<%}else{%>
				<button id="rating_checked" class="fav_btn" onclick="rating_submit()">
					<img src="../img/foot_print.png" style="width:32px;height: 32px">
					<p>Modify</p>
				</button>
				<%}%>
			</div>
			<form method="post" id="fav_form">
				<% if(faved=="false"){%>
				<input type="hidden" value="fav" name="operation">
				<button id="fav_unchecked" class="fav_btn" onclick="fav_submit()">
					<img src="../img/fav.png" style="width:32px;height: 32px">
					<p>+Add</p>
				</button>
				<%}else{%>
				<input type="hidden" value="fav" name="operation">
				<button id="fav_checked" class="fav_btn" onclick="fav_submit()">
					<img src="../img/fav.png" style="width:32px;height: 32px">
					<p>Remove</p>
				</button>
				<%}%>
			</form>
			<div id="user_rating">
				<% if(scene!=-1&&act!=-1&&exp!=-1){%>
					<% var avg = ((scene+act+exp)/3).toPrecision(2)%>
					<h1>Your Rating: <%= avg%></h1>
				<%}%>
				<div id="tags">
				<% if(tags.length>0){%>
					<% for(var i=0;i<tags.length;i++){%>
						<h6><%=tags[i]%></h6>
				<%}}%>
				</div>
			</div>
		<%}%>
		</div>
		<div id="rating_dialog">
			<h4>Rating</h4>
				<form method="post" name="rating_form" onsubmit="return validateForm()">
					<span class="rating_img" id="first_span">
						<p>Scene rating:</p>
						<span class="stars">
						<% for(var i = 5;i>=1;i--){%>
							<input class="star star-<%= i%>" id="scene-<%= i%>" type="radio" name="scene" value="<%= i%>"/>
							<label class="star star-<%= i%>" for="scene-<%= i%>"></label>
						<%}%>
						</span>
					</span>
					<span class="rating_img">
						<p>Activities rating:</p>
						<span class="stars">
						<% for(var i = 5;i>=1;i--){%>
							<input class="star star-<%= i%>" id="act-<%= i%>" type="radio" name="act" value="<%= i%>"/>
							<label class="star star-<%= i%>" for="act-<%= i%>"></label>
						<%}%>
						</span>
					</span>
					<span class="rating_img">
						<p>Experience rating:</p>
						<span class="stars">
						<% for(var i = 5;i>=1;i--){%>
							<input class="star star-<%= i%>" id="exp-<%= i%>" type="radio" name="exp" value="<%= i%>"/>
							<label class="star star-<%= i%>" for="exp-<%= i%>"></label>
						<%}%>
						</span>
					</span>
					<p style="padding-left: 40px;">Date:<input type="text" id="datepicker" name="date"></p>
					<p>Days:<input type="text" id="days" name="days"></p>
					<p style="margin-left: 20px">Tags:(seperate by ':')</p>
					<input type="text" name="tag" id="tag_box" style="margin-left: 40px">
					<input type="submit" value="Submit">
					<button id="cancel_btn" onclick="dialog_cancel()">Cancel</button>
				</form>
		</div>
		<% if(park_alert_t.length>0||park_caution_t.length>0){%>
		<div class="container" style="margin-top: 100px">
			<h2>Alert</h2>
			<hr/>
			<table class="alert_table">
				<%for(var i = 0;i<park_alert_t.length;i++){%>
				<tr>
					<td><img src="../img/alert.png" class="alert_icon"></td>
					<td>
						<h4><b><%= park_alert_t[i]%></b></h4>
						<h5><%= park_alert_d[i]%></h5>
					</td>
				</tr>
				<%}%>
				<%for(var i = 0;i<park_caution_t.length;i++){%>
				<tr>
					<td><img src="../img/caution.png" class="alert_icon"></td>
					<td>
						<h4 style="border-radius: 5px"><b><%= park_caution_t[i]%></b></h4>
						<h5><%= park_caution_d[i]%></h5>
					</td>
				</tr>
				<%}%>
			</table>
		</div>
		<%}%>
		<div class="container" style="margin-bottom: 100px;margin-top: 100px">
			<h2>Basic Information</h2>
			<hr/>
			<div style="padding-top: 10px;padding-bottom: 15px">
				<h3 style="display:inline;left:20%;position: relative;" onmouseover="_1_over()">Description</h3>
				<h3 style="display:inline;right:30%;position: absolute;" onmouseover="_2_over()">Direction Info</h3>
			</div>
			<p id="desc"><%= description%></p>
			<p id="dire_info"><%= directions_info%></p>
			<h2>Weather</h2>
			<hr/>
			<table style="width:100%;border-collapse: initial;margin-bottom:150px" align="center">
				<colgroup span="2"></colgroup>
				<col>
				<col>
				<col>
				<col>
				<col>
				<tr>
					<th colspan="2" scope="rowgroup">Date</th>
					<th scope="col">Description</th>
					<th scope="col">Temperature</th>
					<th scope="col">Humidity</th>
					<th scope="col">Sunrise</th>
					<th scope="col">Sunset</th>
				</tr>
				<% for(var i = 0;i<5;i++){%>
					<tr>
						<td><%= time[i]%></td>
						<td><img src="<%= weather_code[i]%>" style="width:50px"></td>
						<td><%= weather[i]%></td>
						<td><%= min_temperature[i]%>~<%= max_temperature[i]%></td>
						<td><%= humidity[i]%></td>
						<td><%= sunrise[i]%></td>
						<td><%= sunset[i]%></td>
					</tr>
				<% } %>
			</table>
			<% if(visitorCenter_name.length>0){%>
            <h2>Visitor Center(s)</h2>
			<hr/>
			<table style="width:100%;border-collapse: initial;margin-bottom:150px" align="center">
				<colgroup span="2"></colgroup>
				<col>
				<col>
				<col>
				<col>
				<col>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Phone</th>
                    <th scope="col">Lat</th>
                    <th scope="col">Long</th>
				</tr>
				<% for(var i = 0;i<visitorCenter_name.length;i++){%>
					<tr>
						<td><a href="<%= visitorCenter_website[i]%>" style="color: white!important"><%= visitorCenter_name[i]%></a> </td>
						<td><%= visitorCenter_phone[i]%></td>
                        <td><%= visitorCenter_lat[i]%></td>
                        <td><%= visitorCenter_long[i]%></td>
					</tr>
				<% } %>
			</table>
			<%}%>
			<% if(camp_names.length>0){%>
            <h2>Campgrounds</h2>
			<hr/>
			<table style="width:100%;border-collapse: initial;margin-bottom:150px" align="center">
				<colgroup span="2"></colgroup>
				<col>
				<col>
				<col>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Phone</th>
				</tr>
				<% for(var i = 0;i<camp_names.length;i++){%>
					<tr>
						<td><%= camp_names[i]%></a> </td>
						<td><%= camp_phones[i]%></td>
					</tr>
				<% } %>
			</table>
			<%}%>
			<% if(usrActivity_name.length>0){%>
            <h2>Suggested Activities</h2>
			<hr/>
			<table border=1 frame=void rules=rows style="width:100%;border-collapse: initial;margin-bottom:150px" align="center">
				<colgroup span="2"></colgroup>
				<col>
				<col>
				<col>
				<tr>
					<th scope="col" style="width: 15%">Name</th>
					<th scope="col" style="width: 15%">Type</th>
                    <th scope="col">Description</th>
				</tr>
				<% for(var i = 0;i<usrActivity_name.length;i++){%>
					<tr>
						<td><%= usrActivity_name[i]%></td>
						<td><%= usrActivity_type[i]%></td>
						<td style="text-align: justify"><%= usrActivity_descr[i]%></td>
					</tr>
				<% } %>
			</table>
			<% } %>
			<% for(var i = 0;i<restaurant_name.length;i++){%>
			<h2>Restaurant</h2>
			<hr/>
			<table style="width:100%;border-collapse: initial;margin-bottom:150px" align="center" id="restaurant">
			<% for(var i = 0;i<restaurant_url.length;i++){%>
				<tr style="height:120px">
					<td style="width:10%"><%= i+1%></td>
					<td style="width:15%"><img src="<%= restaurant_url[i]%>" style="border-radius: 5px;height:100px;width: 100px"></td>
					<td style="width:30%"><%= restaurant_name[i]%></td>
					<td style="width:10%"><img src="<%= restaurant_rating[i]%>"></td>
					<td><%= restaurant_address[i]%></td>
				</tr>
			<% } %>
			</table>
			<% } %>

			
			<% if(closest_name.length!=0){%>
			<h2>Closest Restaurant to Visitor Center</h2>
			<hr/>
			<table style="width:100%;border-collapse: initial;margin-bottom:150px" align="center" id="restaurant">
			
			<tr style="height:120px">
				<td style="width:15%"><img src="<%= closest_url[0]%>" style="border-radius: 5px;height:100px;width: 100px"></td>
				<td style="width:30%"><%= closest_name[0]%></td>
				<td style="width:10%"><img src="<%= closest_rating[0]%>"></td>
				<td><%= closest_addr[0]%></td>
			</tr>
			
			</table>
			<% } %>


			<h2>Map</h2>
			<hr/>
			<div id="map"></div>
			<div>
				<h2>Twitter</h2>
				<hr/>
				<div id="twitter_board">
					<table>
						<tr>
							<% for(var i = 0;i<4;i++){%>
								<td>
									<div class="profile_bng"  style="background: url(<%= t_bng[i]%>) no-repeat center center;
				background-size: cover;">							
										<div class="profile_img">
										<img src="<%= t_user_img[i]%>" style="width:48px;height: 48px">
										</div>
										<div class="user_names">
										<a href='http://twitter.com/<%= t_screenname[i]%>'><strong style="font-size: 12px"><%= t_username[i]%></strong></a>
										<p style="font-size: 12px;display: inline"><%= t_screenname[i]%></p>
										</div>
									</div>
									<div class="tweet_content">
										<div class="tweet_img" style="background: url(<%= t_img[i]%>) no-repeat center center;
				background-size: cover;">
										</div>
										<div class="tweet_text">
										<p><%= t_text[i]%></p>
										</div>
									</div>
								</td>
							<%}%>
						</tr>
					</table>
				</div>
			</div>
			<script>
				function initMap() {
					var bounds = new google.maps.LatLngBounds();  
				    var myLatLng = {lat: 37.09024, lng: -95.712891};
				    var customMapType = new google.maps.StyledMapType([
					{
						stylers: [
						  {hue: '#4A9797'},
						  {gamma: 0.5},
						  {weight: 0.5}
						]
					},
				      {
				        featureType: 'water',
				        stylers: [{color: '#0D3752'}]
				      }
				    ], {
				      name: 'Custom Style'
					});
					var customMapTypeId = 'custom_style';
					var map = new google.maps.Map(document.getElementById('map'), {
						center: myLatLng,
						scrollwheel: true,
						zoom: 4,
						mapTypeControlOptions: {
						  mapTypeIds: [google.maps.MapTypeId.ROADMAP, customMapTypeId]
						}
					});
				  	var infowindow = new google.maps.InfoWindow();
				  	var labels = [1,2,3,4,5,6,7,8,9,10];
                    
				  	var latitude;
					latitude = <%- JSON.stringify(lat)%>;
					var longitude;
					longitude = <%- JSON.stringify(lon)%>;
				  	var pos = {lat:parseFloat(latitude),lng:parseFloat(longitude)};
				  	marker = new google.maps.Marker({
				        map:map,
				        position:pos,
				        icon:"http://maps.google.com/mapfiles/ms/icons/red-dot.png"
				    });
				    bounds.extend(pos);
                    
                    var visitorCenter_name;
                    visitorCenter_name = <%- JSON.stringify(visitorCenter_name)%>;
                    var visitorCtrLat = [];
                    visitorCtrLat = <%- JSON.stringify(visitorCenter_lat)%>;
                    var visitorCtrLong = [];
                    visitorCtrLong = <%- JSON.stringify(visitorCenter_long)%>;
                    for(var i = 0;i<visitorCtrLat.length;i++)
                    {
                        var pos = {lat:parseFloat(visitorCtrLat[i]),lng:parseFloat(visitorCtrLong[i])};
                        marker = new google.maps.Marker({
                            map:map,
                            position:pos,
                            icon:"http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld="+(i+1)+"|7FFFD4|000000"
                        });
                        bounds.extend(pos);
                        var contentString = '<h4>'+visitorCenter_name[i]+'</h4>';
				    	google.maps.event.addListener(marker, 'click', (function(marker,contentString) {
							return function() {
								infowindow.setContent(contentString);
								infowindow.open(map, marker);
							}
						})(marker,contentString));
                    }

                    var usrActivity_name = [];
                    usrActivity_name = <%- JSON.stringify(usrActivity_name)%>;
                    var usrActivityLat = [];
                    usrActivityLat = <%- JSON.stringify(usrActivity_lat)%>;
                    var usrActivityLong = [];
                    usrActivityLong = <%- JSON.stringify(usrActivity_long)%>;
                    for(var i = 0;i<usrActivityLat.length;i++)
                    {
                        var pos = {lat:parseFloat(usrActivityLat[i]),lng:parseFloat(usrActivityLong[i])};
                        marker = new google.maps.Marker({
                            map:map,
                            position:pos,
                            icon:"http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld="+(i+1)+"|1E90FF|000000"
                        });
                        bounds.extend(pos);
                        var contentString = '<h4>'+usrActivity_name[i]+'</h4>';
				    	google.maps.event.addListener(marker, 'click', (function(marker,contentString) {
							return function() {
								infowindow.setContent(contentString);
								infowindow.open(map, marker);
							}
						})(marker,contentString));
                    }

                    var r_lat;
				    r_lat = <%- JSON.stringify(restaurant_lat)%>;
				    var r_lon;
				    r_lon = <%- JSON.stringify(restaurant_lon)%>;
				    var b_name;
				    b_name = <%- JSON.stringify(restaurant_name)%>;
				    for(var i = 0;i<r_lat.length;i++){
						console.log(r_lat[i],r_lon[i]);
				    	var pos = {lat:parseFloat(r_lat[i]),lng:parseFloat(r_lon[i])};
				    	var r_marker = new google.maps.Marker({
				    		map:map,
				    		position:pos,
				    		icon:"http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld="+(i+1)+"|EEE8AA|000000"
				    	});
				    	bounds.extend(pos);
				    	var contentString = '<h4>'+b_name[i]+'</h4>';
				    	google.maps.event.addListener(r_marker, 'click', (function(marker,contentString) {
							return function() {
								infowindow.setContent(contentString);
								infowindow.open(map, marker);
							}
						})(r_marker,contentString));
				    }

				    var camp_names;
				    camp_names = <%- JSON.stringify(camp_names)%>;
				    var camp_lat;
				    camp_lat = <%- JSON.stringify(camp_lat)%>;
				    console.log(camp_lon);
				    var camp_lon;
				    camp_lon = <%- JSON.stringify(camp_lon)%>;
					console.log(camp_lat,camp_lon);
					for(var i = 0;i<camp_lat.length;i++){
						console.log(camp_lat[i],camp_lon[i]);
				    	var new_pos = {lat:parseFloat(camp_lat[i]),lng:parseFloat(camp_lon[i])};
				    	var c_marker = new google.maps.Marker({
				    		map:map,
				    		position:new_pos,
				    		icon:"http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld="+(i+1)+"|9ACD32|000000"
				    	});
				    	bounds.extend(new_pos);
				    	var contentString = '<h4>'+camp_names[i]+'</h4>';
				    	google.maps.event.addListener(c_marker, 'click', (function(marker,contentString) {
							return function() {
								infowindow.setContent(contentString);
								infowindow.open(map, marker);
							}
						})(c_marker,contentString));
				    }
					map.mapTypes.set(customMapTypeId, customMapType);
					map.setMapTypeId(customMapTypeId);
					google.maps.event.addListenerOnce(map, 'idle', function() {
				        map.fitBounds(bounds);
					});
				}
				var scene = <%- JSON.stringify(scene)%>;
				if(scene!=-1){
					var str = "scene-"+scene;
					document.getElementById(str).checked=true;
				}
				var act = <%- JSON.stringify(act)%>;
				if(act!=-1){
					var str = "act-"+act;
					document.getElementById(str).checked=true;
				}
				var exp = <%- JSON.stringify(exp)%>;
				if(exp!=-1){
					var str = "exp-"+exp;
					document.getElementById(str).checked=true;
				}
				var date = <%- JSON.stringify(date)%>;
				if(date!=""){
					document.getElementById('datepicker').placeholder=date;
				}
				var days = <%- JSON.stringify(days)%>;
				if(days!=""){
					document.getElementById('days').placeholder=days;
				}
				</script>
				<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDikfTOXeaw7tQ65UFLmB-_eqV_AfqCAO4&callback=initMap&language=en"
		  async defer></script>
		</div>
	</body>
</html>